body{
    background-color: rgb(2, 19, 13);
}
.container{
    height: 100%;
    display: grid;
    grid-gap: 1px;
    /* 5rows */
    grid-template-columns: repeat(6, 1fr) ;
    /* grid-template-rows: auto auto auto 20px auto; */
    grid-template-areas: 
    "l l l l l l l l"
    "n n n n n n n n"
    "d d d d d d d d"
    "p p p p p p p p"
    "c c c c c c c c"
    ;
}

/* LOGO */
.logo, .profile-picture{
    grid-area: l;
    /* font-size: 90px; */
    background-color: rgb(27, 35, 46);
    color: rgb(128, 145, 140);
    text-align: center;
    margin: 0;
    /* padding: 5px; */
}
.profile-picture{
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
}
.logo{
    border-bottom: solid 2.1px rgb(40, 53, 49);
}
/* 
NAVAGATION BAR
*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(156, 65, 65); */
}
li{
    float: left;
}
ul, li{
    display: inline;
    margin-left: 0;
    /* background-color: azure; */
}
li a{
    display: block;
    text-decoration: none;
    padding: 24px;
    font-size: 27px;
    color:#ffffff;
}
.navbar{
    grid-area: n;
    background-color: rgb(73, 96, 100);
    padding: 0;
    margin: 0;
    /* margin-top: 50px; */

}
li a:hover{
    background-color: rgb(2, 19, 13);
}
li a:active{
    color: orange;
}
.active-link{
    color: rgb(17, 28, 31)
}
/* 
ICONS on right side of nav bar
*/
  
.instagram-logo, .facebook-logo, .twitter-logo, .linkedin-logo{
    width: 70px;
    height: 67px;
    margin-top: 3px;
    /* float: auto; */
    /* margin-top: 5px; */
    /* margin: auto; */
    float: right;
    padding: 0px;
    padding-right: 3px;
    /* padding-right: 30px; */
    background-color: rgb(73, 96, 100);
    /* display: inline; */
}

/* 
INTRO DDESCRIPTION
*/
.intro-name{
    font-size: 35px;
}
.intro{
    grid-area: d;
    padding: 0;
    margin: 0;
    color: rgb(13, 23, 24);
    display: grid;
    grid-gap: 1px;
    /* 5rows */
    grid-template-columns: repeat(4, 2fr) ;
    grid-template-areas: 
    "pic par par par par"
    ;
    background-color: rgb(60, 80, 76);
    border-bottom: solid 3px rgb(6, 32, 30);
    border-right: solid 3px rgb(6, 32, 30);
}

.intro-description{
    text-align: center;
    font-size: 30px;
    grid-area: par;
}

.intro-img{
    grid-area: pic;
}
.profile-pic{
    width: 95%;
}


/* NOT YET */
.images{
    /* width: 100%; */
    margin-top: 15px;
    grid-area: p;
    /* border-width: 110px; */
    display: grid;
    grid-gap:10px;
    grid-template: repeat(3,1fr) / repeat(3, 1fr);
    margin-left: 5%;
    /* border-top: solid 3px rgb(96, 116,108); */
    border-bottom: solid 3px rgb(96, 116, 108);
    padding-bottom: 5px;
}
img{
    width: 80%;
    /* height: 350px; */
}
img:hover{
    opacity: 0.5;
}
.image-container{
    height: 80%;
}
.copyright{
    grid-area: c;
    font-size: 20px;
    color: white;
    text-align: center;
}
h4{
    text-align: center;
}




/* 





The Css Code For Mobile Friendly @media





*/
@media only screen and (max-width: 1400px){
    body{
        background-color:rgb(2, 19, 13);
    }

    .intro{
        grid-area: d;
        padding: 0;
        margin: 0;
        color: rgb(13, 23, 24);
        display: grid;
        grid-gap: 1px;
        /* 5rows */
        grid-template-columns: repeat(4, 2fr) ;
        grid-template-areas: 
        "pic pic par par par"
        ;
        background-color: rgb(60, 80, 76);
        border-bottom: solid 3px rgb(6, 32, 30);
        border-right: solid 3px rgb(6, 32, 30);
    }
}











@media only screen and (max-width: 1100px){
    

    .intro{
        grid-area: d;
        padding: 0;
        margin: 0;
        color: rgb(13, 23, 24);
        width: 100%;
        grid-gap: 0px;
        /* 5rows */
        grid-template-columns: none ;
        display: table-row;       /* grid-template-areas: 
        "pic pic par par par"
        ; */
        background-color: rgb(60, 80, 76);
        border-bottom: solid 3px rgb(6, 32, 30);
        border-right: solid 3px rgb(6, 32, 30);
    }

    .intro-img{
        grid-area: none;
    }
    .profile-pic{
        width: 70%;
        margin-left: 14%;
        float: auto;
    }


   



    @media only screen and (max-width: 880px){
        

        .logo .profile-picture{
            height: 200px;
        }




        /* Takes away the logos on the top */
        .instagram-logo, .facebook-logo, .twitter-logo, .linkedin-logo{
            display: none;
            width: 70px;
            height: 67px;
            margin-top: 3px;
            /* float: auto; */
            /* margin-top: 5px; */
            /* margin: auto; */
            float: left;
            padding: 0px;
            padding-right: 0px;
            /* padding-right: 30px; */
            background-color: rgb(73, 96, 100);
            /* display: inline; */
        }
        





        li{
            margin-left: 3%;

        }
    }

    .icons-mobile{
        display: inline;
        /* width: 30px; */
    }


  

    @media only screen and (max-width: 700px){
        .container{
            height: 100%;
            display: grid;
            grid-gap: 1px;
            /* 5rows */
            grid-template-columns: repeat(6, 1fr) ;
            /* grid-template-rows: auto auto auto 20px auto; */
            grid-template-areas: 
            "l l l l l l l l"
            "n n n n n n n n"
            "d d d d d d d d"
            "p p p p p p p p"
            "c c c c c c c c"
            ;
        }
        
        


        .images{
            /* width: 100%; */
            margin-top: 20px;
            grid-area: p;
            /* border-width: 110px; */
            display: grid;
            grid-gap:2px;
            grid-template: repeat(2,1fr) / repeat(2, 1fr);
            margin-left: 1%;
            /* border-top: solid 3px rgb(96, 116,108); */
            border-bottom: solid 3px rgb(96, 116, 108);
            padding-bottom: 5px;
        }


        img{
            width: 100%;
            /* height: 350px; */
        }






    }

    @media only screen and (max-width: 660px){
        

        li a{
            font-size: 19px;
        }

        .intro{
            border-right: none;
        }


        

        }

        @media only screen and (max-width: 530px){
            .logo .profile-picture{
                height: 150px;
            
            /* 
            
            NAVAGATION BAR CHANGES
            
            */   
            






            /* 
NAVAGATION BAR
*/

} 



 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(156, 65, 65); */
 }

li{
    float: left;
}
ul, li{
    display: grid;
    margin-left: 0%;
    grid-column: 2fr 2fr;
    grid-row: 2fr 2fr;
    text-align: center;
    /* background-color: azure; */
}
li a{
    display: block;
    text-decoration: none;
    padding: 24px;
    font-size: 27px;
    color:#ffffff;
}
.navbar{
    grid-area: n;
    background-color: rgb(73, 96, 100);
    padding: 0;
    margin: 0;
    /* margin-top: 50px; */

}
li a:hover{
    background-color: rgb(2, 19, 13);
}
li a:active{
    color: orange;
}

    }
}




