body{
    padding:0;
    margin:0;
    background: #1b232e;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #96a0af;

}
a{
    color: rgb(48, 111, 170);
    text-decoration: none;
}
a:hover{
    color: orangered;
}
                        /* LOGO */
 .logo{
    /* background: #393e46; */
    /* background: #0d1e35; */
    background-image: url("783643_1024x1024.jpg");
    width: 100%;
    color: rgb(16, 37, 51); 
    text-shadow: 1px 1px 2px rgb(86, 101, 110), 0 0 25px rgb(26, 82, 104), 0 0 5px rgb(0, 65, 139);
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    /* margin: auto; */
    font-family: 'Anton', sans-serif;
    box-shadow: 4px 1px 9px #0a1b25;

    
} 
.main-logo{
    margin:0
}

.profile-intro{
    border-bottom:rgb(5, 22, 43) 3px solid;
}

.profile-img{
    width: 25%;
    box-shadow: 0 2px 4px 0 rgba(252, 252, 252, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.082);
}
/* =========================================================== */
.intro-paragraph{
    float: right;
    width: 75%;

}
.name{
    font-size: 50px;
    text-align: center;
    border-bottom:#eeeeee 3px solid;
    color: palegoldenrod
}
.p-intro{
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
    /* padding-top: 70px; */
}
/* =========================================================== */
#skills{
    width: 90%;
    margin: auto;
}

.h1-skills{
    text-align: center;
    font-size: 50px;
    border-bottom: rgb(17, 61, 116) 3px solid;
    width: 90%;
    margin: auto;
}
.programming-skill{
    width: 90%;
    margin: auto;
}
.programming-skill-title{
    text-align: center;
    color: #ffffff;
}
/* Putting colums inline */
.html-colum, .css-colum, .python-colum{
    float: left;
    padding-left: 2%;
    height: 250px;
}
.html-colum, .css-colum{
    border-right: gray 3px solid;
    
}
.html-colum{
    width: 30%;
}
.css-colum{
    width: 30%;
}
.python-colum{
    width: 30%;
}
.html-title{
    color: rgb(255, 145, 0);
}
.css-title{
    color: rgb(67, 156, 86);
}
.python-title{
    color: yellow;
}
.info{
    font-size: 20px;
}

/* Links */
.k{
    float: left;
    /* margin: auto; */
    margin-top: 40px;
    text-align: center;
    border-top: rgb(26, 26, 26) 3px solid;
    width: 100%;
    /* margin-left: 20%; */
    /* margin-right: 30%; */
}
.social-media{
    color: rgb(252, 252, 252);
    padding: 80px;
    font-size: 20px;
    /* border-top: gray 3px solid;; */
}

.copyright{
    float: left;
    color: palegoldenrod;
    width: 100%;
    margin-top: 70px;
    text-align: center;
}


/* CSS FOR THE WIDTH MAX OF 1190 px */

@media(max-width: 1190px){
    body{
        background: #1b232e;

    }
    .p-intro{
        float: right;
        margin-right: 20%;
        width: 75%;
        font-size: 25px;
        margin-top: 0px;
    }
    a:link{
        font-size: 15px;
    }
}
@media(max-width:1059px){
    body{
        background-color: #1b232e;
    }
    .profile-intro{
        border-bottom:rgb(5, 22, 43) 3px solid;
        border-bottom: none;
    } 

    
    
    .profile-img{
        width: 35%;
        margin-left: 35%;
        box-shadow: 0 2px 4px 0 rgba(252, 252, 252, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.082);
    }
    /* =========================================================== */
    .intro-paragraph{
        float: none;
        width: 100%;
        margin-top: 0;
    }
    .name{
        font-size: 50px;
        text-align: center;
        border-bottom:#eeeeee 3px solid;
        color: palegoldenrod
    }
    .p-intro{
        font-size: 30px;
        text-align: center;
        margin-top: 0px;
        /* padding-top: 70px; */
    }



    @media(max-width:999px){
        body{
            background-color: #1b232e;
        }

        .html-colum, .css-colum, .python-colum{
            float: none;
            /* padding-left: 2%; */
            /* height: 280px; */
        }
    }








    #skills{
        width: 100%;
        margin: auto;
    }
    
    .h1-skills{
        text-align: center;
        font-size: 50px;
        border-bottom: rgb(17, 61, 116) 3px solid;
        width: 100%;
        margin: auto;
    }
    .programming-skill{
        width: 100%;
        margin: auto;
    }
    .programming-skill-title{
        text-align: center;
        color: #ffffff;
    }
    /* Putting colums inline */
    .html-colum, .css-colum, .python-colum{
        float: none;
        /* padding-left: 2%; */
        /* height: 250px; */
        margin: auto;
        text-align: center;
    }
    .html-colum, .css-colum{
        border-right: none;
        
    }
    .html-colum{
        width: 100%;
    }
    .css-colum{
        width: 100%;
    }
    .python-colum{
        width: 100%;
    }
    .html-title{
        color: rgb(255, 145, 0);
    }
    .css-title{
        color: rgb(67, 156, 86);
    }
    .python-title{
        color: yellow;
    }
    .info{
        font-size: 20px;
    }
    







    .k{
        float: none;
        margin: auto;
        margin-top: 40px;
        text-align: center;
        border-top: rgb(26, 26, 26) 3px solid;
        width: 100%;
        
        /* margin-left: 20%; */
        /* margin-right: 30%; */
    }
    .social-media{
        color: rgb(252, 252, 252);
        padding: 20px;
        font-size: 80px;
        /* border-top: gray 3px solid;; */
    }
    
    .copyright{
        float: left;
        color: palegoldenrod;
        width: 100%;
        margin-top: 70px;
        text-align: center;
    }




    @media(max-width:793px){
        body{
        background: #1b232e;
        }

        .profile-img{
            width: 50%;
            box-shadow: 0 2px 4px 0 rgba(252, 252, 252, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.082);
            margin-left: 25%;
        }
        .logo{
            width: 100%;
            font-size: 40px;
        }

    }

    @media(max-width:793px){
        .logo{
            font-size: 40px;
            width: 100%;
        }
    }

    @media (max-width:475px){
        .logo{
            font-size: 30px;
        }
    }
